.image-slider-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem 0 2.5rem;
  position: relative;
}

/* setas laterais */
.custom-arrow {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--main-green);
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  transform: translateY(-50%);
}

.custom-arrow.left {
  left: -1.5rem;
}

.custom-arrow.right {
  right: -1.5rem;
}

/* Slide em destaque */
.slick-center .slider-image {
  transform: scale(1.05);
  opacity: 1;
  z-index: 2;
}

/* Dots personalizados */
.slick-dots {
  position: absolute;
  bottom: -1.5rem;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 5;
}

.slick-dots li {
  margin: 0 6px;
}

.slick-dots button {
  width: 14px;
  height: 14px;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #cccccc;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--main-green);
}

/* ========= RESPONSIVIDADE ========= */

@media (max-width: 900px) {
  .image-slider-container {
    max-width: 100%;
    padding: 1rem 0 2.2rem;
  }

  .custom-arrow.left {
    left: 0;
  }

  .custom-arrow.right {
    right: 0;
  }
}

@media (max-width: 768px) {
  /* em celular, o usuário navega por swipe, então pode esconder as setas */
  .custom-arrow {
    display: none;
  }

  .image-slider-container {
    padding-bottom: 2rem;
  }
}
