
.feedback-message {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
}

.feedback-title {
    font-family: var(--font-bolota);
    font-weight: 700;
    line-height: 32px;
    font-size: 2rem;
    color: var(--main-orange);
}

.feedback-description {
    font-family: var(--font-century);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    color: var(--main-orange);
}